@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --primary: 30 32 30;
    --primary-emphasis: 60 61 55;
    --secondary: 105 117 101;
    --secondary-emphasis: 236 223 204;
  }
}
:root[data-theme="dark"] {
  --primary: 30 32 30;
  --primary-emphasis: 60 61 55;
  --secondary: 105 117 101;
  --secondary-emphasis: 236 223 204;
}
:root[data-theme="light"] {
  --primary: 0 113 45;
  --primary-emphasis: 213 237 159;
  --secondary: 255 251 230;
  --secondary-emphasis: 255 145 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
